page-contact {
    .scroll-content{
        padding: 0px!important;
    }

    .painel{
        padding: 0px;
        
        .table-header{
            position: fixed;
            width: 100%;
            z-index: 999;
            background-color: map-get($colors,secondary);
            color: #fff;
            padding: 0px;
            align-items: center;
        }
        .col{
            text-align: center;
        }
        .col-serv{
            text-align: center;
            font-size: 12px;
        }
        .col-status{
            text-align: center;
            font-size: 12px;            
        }
        .items{
            color: map-get($colors, default-text);
            border-bottom: 1px solid map-get($colors, light);
        }
    }
    .table-content{
        margin-top: 75px;
    }
}
