<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!senha"><ion-icon name="key"></ion-icon>&nbsp; Nova Senha</ion-title>
    <ion-title *ngIf="senha"><ion-icon name="key"></ion-icon>&nbsp; Sua Senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="content" *ngIf="!senha">
    <ion-label><h1>Serviço:</h1></ion-label>
    <ion-select [(ngModel)]="servico" placeholder="Escolha o servico...">
      <ion-option *ngFor="let servico of servicos" value="{{servico.id}}">{{servico.nomeServico}}</ion-option>
    </ion-select>
    <button  ion-button color="blue" (click)="criarSenha(servico)" ><ion-icon name="add-circle"></ion-icon>&nbsp; Criar Senha</button>
  </div>

  <div *ngIf="senha" class="content">
    <h2>Senha: {{ senha.senha }}</h2>
    <label for="servico"><strong>Servico:</strong> </label>
    <p>{{ senha.servico.nomeServico }}</p>
    <label for="subservico"><strong>Subservico:</strong> </label>
    <p>{{ senha.subservico.nomeSubservico }}</p>
    
    <label for="status"><strong>Status:</strong> </label>
    <p>{{ senha.statusSenha }}</p>
    <label for="horaGerada"><strong>Hora Gerada:</strong> </label>
    <p>{{ senha.horaGerada }}</p>
  </div>
</ion-content>
