<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!senha">Nova Senha</ion-title>
    <ion-title *ngIf="senha">Sua Senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!senha">
    <ion-label>Escolha o Servico</ion-label>
    <ion-select [(ngModel)]="servico" placeholder="Servico...">
      <ion-option *ngFor="let servico of servicos" value="{{servico.id}}">{{servico.nomeServico}}</ion-option>
    </ion-select>
    <button *ngIf="servico" ion-button color="blue" (click)="criarSenha(servico)">Listar</button>
  </div>

  <div *ngIf="senha" class="">
    <h2>Senha: {{ senha.senha }}</h2>
    <label for="servico"><strong>Servico:</strong> </label>
    <p>{{ senha.servico.nomeServico }}</p>
    <label for="subservico"><strong>Subservico:</strong> </label>
    <p>{{ senha.subservico.nomeSubservico }}</p>
    
    <label for="status"><strong>Status:</strong> </label>
    <p>{{ senha.statusSenha }}</p>
    <label for="horaGerada"><strong>Hora Gerada:</strong> </label>
    <p>{{ senha.horaGerada }}</p>
  </div>
</ion-content>
